@media screen and (min-width: 0){
    .botao__dentro {
        text-decoration: none;
        text-align: center;

        font-size: var(--texto-normal-tamanho);
        font-family: var(--texto-titulo-font);

        color: white;

        padding: 10px 12px;
    }
}

@media screen and (min-width: 1080px) {
    .botao__dentro:hover {
        transition: .5s;
        padding: 12.5px 14.5px;
        font-size: calc(var(--texto-normal-tamanho) + 2px);
    }
}
