@media screen and (min-width: 0){
    .botao {
        text-decoration: none;
        text-align: center;

        font-size: var(--texto-normal-tamanho);
        font-family: var(--texto-titulo-font);

        color: white;

        padding: 1rem 3.5rem;

        background: var(--botao-cor);
        border: 2.5px solid white;
        border-radius: 15px;

        transition: 1s;
    }
}

@media screen and (min-width: 1080px) {
    .botao:hover {
        transition: .5s;
        font-size: calc(var(--texto-normal-tamanho) + 2px);
        background: var(--botao-cor-pressionado);
    }
}
