@media screen and (min-width: 0){
  /* Shape 3 */

  .shape-bg3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .shape-bg3 svg {
      position: relative;
      display: block;
      width: calc(179% + 1.3px);
      height: 75px;
      transform: rotateY(180deg);
  }

  .shape-bg3 .shape-fill {
      fill: var(--background-terceiro);
  }
}

@media screen and (min-width: 1080px;){
  .shape-bg3 svg{
    height: 150px;
  }
}
