    /* Fontes */
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Source+Code+Pro:wght@200;400&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

    /* CSSs importantes */
    @import url('reset.css');

    /* CSSs importantes (componentes) */
    @import url('componentes/background.css');
    @import url('componentes/texto-titulo.css');
    @import url('componentes/texto-normal.css');
    @import url('componentes/header.css');
    @import url('componentes/footer/footer.css');
    @import url('componentes/botao/botao.css');
    @import url('componentes/centralizar-item.css');
    @import url('componentes/introducao-titulo.css');
    @import url('componentes/transicoes-shapes.css');


@media screen and (min-width: 0) {
    :root {
        --background: #270840;
        --background-segundario: #4D0F80;
        --background-terceiro: #7417BF;
        --background-quarto: #8B1CE6;
        --background-complementar: rgb(255, 255, 255);

        --active: #28005C;

        /*#660569*/

        --texto-cor: var(--background-complementar);
        --texto-cor-header: var(--background);
        --texto-cor-segundaria: var(--background-complementar);

        --texto-cor-selecionado: #a3a3a3;
        --texto-cor-selecionado-segundaria: #71099e;

        --texto-titulo-font: 'Montserrat', sans-serif;

        --texto-titulo-peso-destaque: 500;
        --texto-titulo-peso-subtitulo: 300;

        --texto-titulo-tamanho: 2rem;


        --texto-normal-font: 'Source Code Pro', monospace;

        --texto-normal-peso-destaque: 400;
        --texto-normal-peso-normal: 200;

        --texto-normal-tamanho: 1.25rem;

        --botao-cor: -webkit-linear-gradient(145deg, #9a1fff, #28005C);
        --botao-cor-pressionado: -webkit-linear-gradient(145deg, #28005C, #9a1fff);

        --background-progressbar: var(--background-complementar);
        --background-progress: -webkit-linear-gradient(45deg, #9a1fff, #28005C);

    }
}

@media screen and (min-width: 1080px) {
    :root {
        --texto-titulo-tamanho: 3.5rem;

        --texto-normal-tamanho: 2rem;
    }
}

@media screen and (min-width: 1900px) {
    :root {
        --texto-titulo-tamanho: 5rem;

        --texto-normal-tamanho: 2.5rem;
    }
}
