@import url("projeto-box.css");

@media screen and (min-width: 0){

  .projetos{
    position: relative;

    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projetos__chamada--texto {
      text-align: center;
      margin: .5rem 1rem 1rem 1rem;
  }
}

@media screen and (min-width: 1080px){
  .projetos__chamada--texto{
    width: 850px;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}
