.background {
    min-height: 100vh;
    width: 100%;
}

.bg-color1 {
  background: var(--background);
}

.bg-color2 {
    background: var(--background-segundario);
}

.bg-color3 {
  background: var(--background-terceiro)
}

.bg-color4 {
  background: var(--background-quarto)
}
