@import url(header/header__outsideSideNav.css);
@import url(header/header__sideNav.css);

@media screen and (min-width: 0) {
    main {
        transition: margin-left .5s;
    }
}

@media screen and (min-width: 1080px) {
    .active {
        border-bottom: 2px solid var(--active);
        border-radius: 8px;
    }
}

@media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
}