@media screen and (min-width: 0) {
    .introducao {
        position: relative;
        text-align: center;
    }

    .introducao__titulo {
       color: var(--texto-cor-segundaria);
       font-size: var(--texto-titulo-tamanho);
   }

   .introducao__texto {
        color: var(--texto-cor-segundaria);
       font-size: var(--texto-normal-tamanho);
       margin: 0 1rem;
   }
}

@media screen and (min-width: 1080px) {
    .introducao__texto {
        width: 850px;
    }
}
