@media screen and (min-width: 0) {
    .introducao {
        position: relative;
        text-align: center;
    }

    .introducao__titulo {
       color: var(--texto-cor);
       font-size: var(--texto-titulo-tamanho);
   }

   .introducao__texto {
      color: var(--texto-cor);
       font-size: var(--texto-normal-tamanho);
       margin: 0 1rem;
   }

   .introducao__texto--aviso{
     margin-top: 1rem;
     font-size: 1rem;
   }
}

@media screen and (min-width: 1080px) {
    .introducao__texto {
        width: 850px;
    }
}
