@media screen and (min-width: 0){
  footer {
    padding: 1rem 0;
    width: 100%;

    background-color: white;
  }

  .footer__title {
    font-size: 2rem;

    user-select: none;
  }

  .footer__texto {
    background: var(--texto-cor-header);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .footer__itens {
    margin: .8rem;
    font-size: 1.8rem;
  }

  .footer__itens:last-child {
    margin-bottom: 1.6rem;
  }

  .footer__itens a, .footer__nav--itens a {
    text-decoration: none;
  }

  .footer__nav--itens {
    font-size: 1.2rem;
  }

}

@media screen and (min-width: 1080px){
  footer {
    flex-direction: row!important;
    align-items: center!important;
    justify-content: space-around!important;
  }

  .footer__lista {
    flex-direction: row!important;
    align-items: flex-start!important;
  }
}
